#skip a{

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:courier;
    font-size:24px;
    font-weight:bold;
    margin:30px auto;
    margin-left: 400px;
    padding:7px 12px;
    border:none;
    text-align:center;
    text-decoration: none;
    height:40px;
    width:150px;
    cursor:pointer;
}